body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* start header section style */


.header-container{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    background-color: #161616;
    border: 1px solid #161616;
    border-radius: 20px;
    margin-top: 50px;
}

.header-description{
   display: flex;
   flex-direction: column;
   align-self: center;
  
   }

   #header-margin{
    margin: 50px;
   }

.header-container .header-description{
    width: 50%;
    
}

.header-description img{
    width: 100%;
    padding-bottom: -80px;
   
}



.header-description h1{
    font-size: 70px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 70px;
    font-style: normal;
    color: #FFFFFF;
}

.header-description p{
    font-style: normal;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: -32px;
    margin-bottom: 40px;
}

.header-button a{
    text-decoration:none;
font-size: 18px;
font-weight: 500;
font-style: normal;
font-family: 'Poppins';
background-color: #DD0000;
padding: 16px 25px;
border-radius: 5px;
color: #FFFFFF;

}

.header-button a:hover{
    color: #DD0000;
    background-color: #FFFFFF;
    transition: 2s;
    font-size: 20px;

}

@media screen and (max-width:576px) {

    .header-container{
        flex-direction: column;
    }

     .header-container .header-description{
        width: 100%;
    }

    .header-description{
        text-align: center;
        align-self: center;
    }
    
}

@media screen and (min-width:577px) and (max-width:968px) {

     
    .header-container{
      max-width: 100%;
      margin-left:50px ;
      margin-right: 50px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
    }

     

    .header-description img{
        position: relative;
        top: 134px;
        right: 50px;

        width: 360px;
        height: 560px;
        align-self: center;
    
        /* margin-right: 65px; */

       
        
                }

                .header-description{
                   width:  20%;
                }


    .header-container{
     flex-direction:column;
   
    }

    .header-container{
        text-align: center;
        align-self: center;
    }

 
    
}
/* header section style end */


/* main section start */

.main-container{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    
 }

 .button-style{
   
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding-top: 50px;
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-top: 130px;}

    button{
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        border: 1px solid #161616;
        border-radius:5px ;
        padding: 2px 15px;
        margin-top: 9px;
        margin-left: 20px;
    }

   
    
    .button-style a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 30px;
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        color: #161616;
        font-weight: 500;
        font-family: 'Poppins';
        border-radius:10px;
        padding: 16px 26px;
        
       
        
    
    }
    
    #ag{
        padding: 16px 56px;
        
    }
    
    #bt{
        padding: 16px 76px;
        background-color: #DD0000;
        border: 1px solid #DD0000;
    }
    
   
   



   
    





.main-container .button-style .upcoming-match-all-blogs{
    width: 50%;
}


.blog{
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;

}






/* .main-section-blog{
    width: 1321px;

} */

.main-section{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 130px;
    
}

.main-section-blog{
    width: 1321px;
    display: flex;
    justify-content: space-evenly;
}


.upcoming-match-all-blogs{
     width: 999px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    row-gap: 17px;
    column-gap: 20px;
    margin-left: 25px;
    margin-top: 130px;

   

}

.upcoming-match-blog-style{
    border: 1px solid rgb(216, 208, 208);
    
    border-radius: 5px;
    width: 312px;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  
    


}

.blog-container{
   
    width: 252px;
    height: 136.18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   

}

.all-flag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
  
}

.match-blog-heading{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #161616;
    font-weight: 600px;
    /* padding-top: 7px; */

}

.match-date-time{
    font-size: 16px;
    color: #948e8e;
    line-height: 20px;
    text-align: center;
    font-weight: 400px;
    margin-top: -10px; 
 
}

@media screen and (max-width:576px) {

    .button-style{
        align-self:center;

    }

        .main-container{

            flex-direction: column;

        }
           
        

    .main-container {
        width: 100%;
    }

    .upcoming-match-all-blogs{
        width: 100%;
       
    }

    

    .upcoming-match-all-blogs{
      grid-template-columns: repeat(1,1fr);
     
      align-self:center ;
      padding-left: 50px;
       
    }

    
    
}

@media screen and ( min-width:577px) and (max-width:768px)
    
{

    .main-container{

        flex-direction: column;
        
      

    }

    .button-style{
        width: 0px;
        height: 0px;
    }

    .main-container{
        margin-top: 0px;

    }

    .button-style{
        align-self:center;

    }

  
    .main-container {
        width: 100%;
        
    }

   

   

      


   .upcoming-match-all-blogs{
    width: 50%;
   align-items: center;
   align-self: center;
  display: grid;justify-content: space-evenly;
  grid-template-columns: repeat(2,1fr);
  margin-right: 55px;
      
  


      
       
      
       
   }

   .button-style{
    width: 580px;
   background-color: white;
    display: flex;
    flex-direction: row;
    column-gap:50px;
   justify-content: space-evenly;
   align-items: center;
   

   }


   .button-style a{
    border: 1px solid gray;
    font-size: 12px;
    padding: 16px 26px;
   }

   #bt{
    padding: 16px 66px;
   }
   #ag{
    padding: 16px 49px;
   }
}
/* main section style end */

/* start footer section style */



.footer{
    width: 100%;
    background-color: #161616;

   }

   .footer-content{
    font-size: 40px;
    line-height: 60px;
    font-family: 'Poppins';
    color: #FFFFFF;
    text-align: center;
    padding-top: 130px;
    margin-top: 130px;
   }

   hr{
    width: 90%;
   }

   .nav a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
    padding: 20px;
 
   } 

   .nav{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
   }

   .fa-brands{
    font-size: 42px;
    color: #E8E8E8;
    padding: 10px;
    margin-top: -15px;

   
   
  
}

.social-icon{
    text-align: center;
  
   
 
}


    @media screen and ( max-width:576px)
     {

        .nav, .socila-icon {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding-bottom: 155px;

        }

        .social-icon{
            visibility: visible;
            margin-top: -150px;
            padding-bottom: 50px;
        }



      
    }


