body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}

/* start header section style */

  .header-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 

 .header-section-background-style{
    width: 1321px;
    height: 646px;
    background-color: #161616;
    border-radius: 30px;
  
}

.header-left-section{
    width: 531px;
    height: 424px;
    margin-left: 85px;
    margin-top: 68px;
   
   }

   .header-section-img{
     justify-content: center;
     width: 581px;
     height: 613px;
     margin-top: 33px;
     margin-left: 45px;
 
 }

.header-section-content h1{
    font-size: 70px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 70px;
    font-style: normal;
    color: #FFFFFF;
}

.header-section-paragraph{
    font-style: normal;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: -32px;
    
}



.header-section-button a{
    width: 187px;
    height: 56px;
    text-decoration:none;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Poppins';
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    color: #FFFFFF;
    
  
}


.fa-greater-than{
    position: relative;
    top: 5px;
    width: 24px;
    height: 24px;
    font-size: 30px;
    margin-top: 10px ;
    padding-top: 30px;
    padding-left:px;
 

   
}

 .header-section-button :hover{
  color: #161616;
 
 
}

.header-section-background-style{
    display: flex;
}

 








 

/* header section style end */

/* main section start */


.main-section-one-button-style{
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.button-style{
   
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding-top: 50px;
    

}

.button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #161616;
    font-weight: 500;
    font-family: 'Poppins';
    border-radius:10px;
    padding: 16px 26px;
    
   
    

}

#all-group a{
padding: 16px 60px ;
}

#button-blog a{
    padding: 16px 78px;
    background-color: #DD0000;
    border: 1px solid #DD0000;
    color: #FFFFFF;
}


.blog{
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;

}

button{
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    border: 1px solid #161616;
    border-radius:5px ;
    padding: 2px 15px;
    margin-top: 9px;
    margin-left: 20px;
}

h5{
    font-size: 18px;
    line-height: 27px;
    width: 272px;
    height: 54px;
    color: #161616;
    margin-top: 15px;
    margin-left: 20px;
}

.time-icon-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
 

}

.time-icon-img span{
    font-size: 16px;
    color: #161616;
    opacity: .70;
    font-weight: 500;
    line-height: 26px;
   
    
}


.chat-icon-img{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.chat-icon-img span{
    font-size: 16px;
    color: #161616;
    opacity: .70;
    font-weight: 500;
    line-height: 26px;
}

.blog-icon{
    display: flex;
    margin-left: 20px;
    margin-top: -10px;
    gap: 20px;

}


.all-blogs{
    width: 999px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 17px;
    column-gap: 20px;
    margin-left: 25px;

   
   
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;

}

.main-section-blog{
    width:1321px;
    display: flex;
    justify-content:space-evenly;
    }

    @media screen and (min-width:768px) and (max-width:992px) {
        .all-blogs{
            grid-template-columns: repeat(2,1fr);
            width: 1321px;
        }
        
    }

    @media  screen and (max-width:576px) {

        .all-blogs{
            display: grid;
            grid-template-columns: repeat(1,1fr);
           
          
            


        }
    
    
    }

    /* main section end */

    /* footer section start */

  

    .footer-section{
       width: 100%;
        height: 444px;
        background-color: #161616;
        display: flex;
        flex-direction: column;
        align-items: center;
       row-gap: 50px;
       margin-top: 130px;
       

        }

    hr{
        width: 90%;
        border: 1px solid rgba(255, 255, 255, 0.1);
    
    }

    .footer-content{
        font-size: 40px;
        line-height: 60px;
        font-family: 'Poppins';
        color: #FFFFFF;
        padding-top: 130px;

    }

    .nav a{
        
        color: #B9B9B9;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        padding: 20px;
        width: 50%;
        

    }

    .fa-brands{
        font-size: 42px;
        color: #E8E8E8;
        padding: 10px;
        margin-top: -15px;
        

    }

    .fa-brands:hover{
        color:#B9B9B9;
        
    }










